@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HAYAMOTO ENTERPRISES</title>
    <link rel="stylesheet" href="/css/StyleSheet.css">
</head>
<body>
    <section id="header">
        <div>
            <img src="img/mail.png" alt="">
        </div>
<div>
   <a href="mailto:info@hayamotoenterprises.com" target="blank"><h5>info@hayamotoenterprises.com</h5></a>
</div>
<div>
    <img src="img/phone.png" alt="">
</div>
<div>
    <a href="" target="blank"><h5>+92-331 1427734</h5></a>
 </div>
 
 <div>
        <a href="https://web.facebook.com/profile.php?id=100026446246041"  ><img class=" pad" src="img/fb.png" alt=""></a>
        <a href="https://www.instagram.com/hayamoto_enterprises/?hl=en"  ><img src="img/in.png" alt=""></a>
        <a href="#"><img src="img/twitter.png" alt=""></a>
    </div>
  <div>
      <a href="@Url.Action("login","Home")"><img class="pad1" src="img/act.png" alt=""><h4>Login</h4> </a>  
  </div>
  <HR></HR>
    </section>
    <br><br>
    <section>
        <div id="logo">
            <a href="index.html"><img src="img/logo/logo.png" alt=""></a>
        </div>  
  <div  class="pad2"><input id ="p"type="text" placeholder="What do you Need?"> </div>
  <div>
     <button><img class="search" src="./img/search.png" alt=""></button> </div>
    </section>
     
 <br><br>
<section >
    <div id="navbar">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="@Url.Action("aboutus","Home")">About Us</a></li>
            <li><a href="#">Categories</a>
            <ul>
                <li><a href="@Url.Action("Casual_wear","Home")">Casusual Wear</a></li>
                <li><a href="@Url.Action("MartialArtsuniforms","Home")">MartialArts Uniforms</a></li>
                
            </ul></li>
            <li><a href="@Url.Action("contactus","Home")">Contact US</a></li>
        </ul>
    </div>
</section>
<section id="body">
    <div id="slider">
        <img src="~/img/Slider/web.png" alt="">
    </div>
    <div  id="products">
<center><h1>Categories</h1></center>
    </div>
    <br><br>
</section>

<section id="l_products">
<section id="divi">
    <div>
    <a href=""> <img src="~/img/Categories/casual.jpg" alt=""></a>   
        <h1>Causual Wear</h1>
    </div>
    <div>
      <a href=""> <img src="~/img/Categories/boxing-bag-thumb.jpg" alt=""></a> 
        <h1>Boxing</h1>
    </div>
    <div>
      <a href=""> <img src="./img/Categories/martial-arts.jpg" alt=""></a> 
        <h1>Martial Arts</h1>
    </div>
    <br><br>
    <div>
       <a href=""> <img src="./img/Categories/Track-suits-thumb.jpg" alt=""></a>
        <h1>Track Suit</h1>
    </div>
    <div>
      <a href=""><img src="./img/Categories/ts-h1-homepage-bnr-small-2020-0501.jpg" alt=""></a>  
        <h1>Sports Wear</h1>
    </div>
    <div>
    <h3></h3>   <a href=""><img src="./img/Categories/Boxing-products-1.jpg" alt=""></a> 
        <h1 >Boxing Products</h1>
    </div>
    <br><br><br>
    
</section>
</section>
<section  id="f_products">
    <h1 style="background-color: black; color: white;width: 100%; height: 60px; margin-top: 665px; text-align: center;     padding-top: 22px;">Features Products</h1>
   
    <div>
        <a href=""><img src="./img/casual wear/jersy.jpg" alt=""></a>   
        </div>
        <div>
            <a href=""><img src="./img/casual wear/track-Suit.jpg" alt=""></a>   
            </div>
            <div>
                <a href=""><img src="./img/casual wear/p2.jpg" alt=""></a>   
                </div>
                <div>
                    <a href=""><img src="./img/casual wear/polo_shirts.jpg" alt=""></a>   
                    </div>
                    <div>
                        <a href=""><img src="./img/casual wear/Judo-Uniforms-3101.jpg" alt=""></a>   
                        </div>
                        <div>
                            <a href=""><img src="./img/casual wear/90089148_640627993382566_4353651079078045499_n.jpg" alt=""></a>   
                            </div>
                            <div>
                                <a href=""><img src="./img/casual wear/template.jpg" alt=""></a>   
                                </div>
                                <div>
                                    <a href=""><img src="./img/casual wear/HE-SC03.jpg" alt=""></a>   
                                    </div>
    
</section>
<div class="clear">
    <section id="footer">
        <div class="background">
            <div class="adjust">
                <h5>ABOUT US</h5>
                <p> we are manufacturers and worldwide
                exporters of quality SPorts Wear,Casual Wear,Martial Uniform,Fitness Wear,Fight Wear, Kevlar Garments, Motorbike Garments and Boxing Products,We uses the highest technology, quality materials and skilled workforce to mnaufacture the hgh quality products.We have strong desire to supply our customer with better quality products and service . Customers ideas,design and sample are welcome.We turn customer ideas into reality.. </p>
            </div>
            <div class="adjust">
                <h5> USEFUL LINKS</h5>
                <ul class="remove-bullets">
                    <a href="#"><li>Home </li></a>
                    <a href="#"><li>About Us </li></a>
                    <a href="#"><li>Contact Us </li></a>
                    <a href="#"><li>Privacy Policy </li></a>
                    <a href="#"><li>Terms&Conditions </li></a>
                </ul>
            </div>
            <div class="adjust">
                <h5> WHY US</h5>
                <ul class="bullets">
                    <a href="#"><li>24 Hours Online </li></a>
                    <a href="#"><li>Free Consultant </li></a>
                    <a href="#"><li>Professional Manufactures </li></a>
                    <a href="#"><li>Professional Manufactuters </li></a>
                    <a href="#"><li>Shipping on Time </li></a>
                </ul>
            </div>
            <div class="adjust">
                <h5>CONTACT INFORMATION</h5>
                <ul class="remove-bullets">
                    <li>Address: will be written</li>
                    <li>Tel 1: will be written</li>
                    <li>Tel 2:  will be written</li>
                    <li>Mail 1:<a href="mailto:azharsahi037@gamil.com">azharsahi037@gamil.com</a></li>
                    <li>Mail 2:<a href="mailto:19101001-037@uskt.edu.pk">19101001-037@uskt.edu.pk</a></li>
                </ul>
            </div>
            <hr style="border-color: white; border-width: 1px">
                <h5 style="color: white; text-align: center; padding-bottom: 28px;">Copyright 2020 All rights reserved</h3>
            
        </div>
    </section>
</div>


</body>
</html>